@using carRentalApplication.Models
@model List<rentalChart>

<h2>Index</h2>

<div class="container">
    <div class="col">
        <div class="row align-items-start">
            <div class="col">
                <p>First Name</p>
            </div>
            <div class="col">
                <p>Last Name</p>
            </div>
            <div class="col">
                <p>Email</p>
            </div>
            <div class="col">
                <p>Quote</p>
            </div>
        </div>
        @foreach (var carquotes in Model)
        {
            <div class="row align-items-start">
                <div class="col">
                    @carquotes.FirstName
                </div>
                <div class="col">
                    @carquotes.LastName
                </div>
                <div class="col">
                    @carquotes.EmailAddress
                </div>
                <div class="col">
                    @Html.DisplayFor(x => carquotes.MonthlyTotal)</div>
            </div>
        }
    </div>
</div>

