<div class="jumbotron jumbotron-fluid text-center">
    <div class="container mx-auto">
        <h1>Vehicle Rental Agency of DOOM</h1>
        <p class="lead">We aim to provide the best rates with minimal questions asked to rent all the vehicles we can!</p>
     </div>
</div>

<div class="row no-gutters">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">INFORMATION PEEPS</h5>
        </div>
        <div class="container text-center">
            @using (Html.BeginForm("GetQuote", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-group col">
                        <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                    </div>
                    <div class="form-group col">
                        <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                    </div>
                    <div class="form-group col text-center">
                        <input name="DateOfBirth" type="text" class="form-control" placeholder="MM/DD/YYYY" />
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="form-group col">
                        <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" />
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="form-group col">
                        <input name="SpeedingTickets" type="text" class="form-control" placeholder="Speeding Tickets" />
                    </div>
                    <div class="form-group col">
                        <div class="form-check">
                            <input name="UnderInfluence" type="checkbox" class="form-check-input" id="dropdownCheck" value="1">
                            <label class="form-check-label" for="dropdownCheck">
                                Drove Under the Influence
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="form-group col">
                        <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />
                    </div>
                    <div class="form-group col">
                        <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />
                    </div>
                    <div class="form-group col">
                        <input name="CarYear" type="text" class="form-control" placeholder="Vehicle Year">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="form-group col">
                        <div class="form-check">
                            <input name="InsuranceCoverage" type="checkbox" class="form-check-input" id="dropdownCheck" value="1">
                            <label class="form-check-label" for="dropdownCheck">
                                Full Coverage Insurance
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Get Quote</button>
            }
        </div>
    </div>
</div>