@using carRentalApplication.Models


<div class="jumbotron">
    <h1>Vehicle Rental Agency of DOOM</h1>
    <p class="lead">We aim to provide the best rates with minimal questions asked to rent all the vehicles we can!</p>
</div>

<div class="row">
    <div>
        <div>
            foreach()
            {
            <div class="col-md-4">
                @
            </div>
            <div class="col-md-4">
                @
            </div>
            <div class="col-md-4">
                @
            </div>
            }
        </div>
        <div>
            foreach()
            {
            <div class="col-md-4">
                @
            </div>
            <div class="col-md-4">
                @
            </div>
            <div class="col-md-4">
                @
            </div>
            }
        </div>
        <div>
            foreach()
            {
            <div class="col-md-4">
                @
            </div>
            <div class="col-md-4">
                @
            </div>
            <div class="col-md-4">
                @
            </div>
            }
        </div>
    </div>
</div>